<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="DemoSuite">
<listeners>
<listener class-name="utility.Reporting"/>
</listeners>
  <test name="DemoTest">
  <parameter name="Browser" value="Chrome"></parameter>
    <classes>
      <class name="Demofw.Demofw.MainClass"/>    
      </classes>
  </test> 
</suite>
